# Environment Config

# Store your secrets and config variables here.
# Only invited collaborators will be able to see your .env values.

PAGE_ID=304736543023263
APP_ID=1228919751793353
PAGE_ACCESS_TOKEN=EAARdsi1DWskBO2Og9H0xdVYztHvZCm1lpmiNCT7pBGLxYEDdKTXEEwC16GjbgDaEodhbulCE9l6QuJLgU0ZAK3t9ZBBttmmovp1gzXIOv8QstQ7l98xlDNvbDN8dScPt9Ly0u153AZAFsXDgpCHxf9LRvLG3YgXXD3bIjoNj2Ai7I9e2b98bG9kNh8auPsReAwZDZD
APP_SECRET=e572a04062c2472e7d6b33111952f4fd
VERIFY_TOKEN=botTest
APP_URL=https://bottest-2xnu.onrender.com
SHOP_URL=https://bottest-2xnu.onrender.com
PORT=3000

# Note: .env is a shell file so there can't be spaces around =
